/* Estilos generales */
body {
    font-family: 'Pacifico', cursive;
}

/* Estilos para los div */
.box {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Colores */
.blue {
    background-color: #007BFF;
}

.green {
    background-color: #28A745;
}

.red {
    background-color: #DC3545;
}